<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Address Book</title>
    </head>
    <body>
        <div class="container">
            {% if all_contacts is empty %}
                <h1>Your address book is empty!</h1>
                <h3>Create new contacts below:</h3>
            {% else %}
                <h1>Your Address Book</h1>
                <ol>
                    {% for contact in all_contacts %}
                    <li>{{ contact.getName }}</li>
                        <ul>
                            <li>{{ contact.getPhoneNum }}</li>
                            <li>{{ contact.getAddress }}</li>
                        </ul>
                    {% endfor %}
                </ol>
                <hr noshade size=4 width=100% align=left>
            {% endif %}

            <form action='/create_contact' method='post'>
                <div class="form-group">
                    <label for='contact_name'>Name</label>
                    <input id='contact_name' name='contact_name' class="form-control" type='text'>
                </div>
                <div class="form-group">
                    <label for='contact_phone_num'>Phone Number</label>
                    <input id='contact_phone_num' name='contact_phone_num' class="form-control" type='number'>
                </div>
                <div class="form-group">
                    <label for='contact_address'>Address</label>
                    <input id='contact_address' name='contact_address' class="form-control" type='text'>
                </div>
                    <button type='submit' class='btn btn-default'>Add New Contact</button>
            </form>

            <form action='/delete_contacts' method='post'>
                <button type='submit' class="btn btn-default">Clear</button>
            </form>
        </div>
    </body>
</html>
